.card{
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 1400px;
}

.subs-text{
    width: 500px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

input[type = text], input[type = email]{
    height: 60px;
    padding-left: 20px;
    font-size: 14px;
    width: 500px;
}

.btn-sub{
    transition: all 0.3s ease-in-out;
    height: 58px;
    border: none;
    font-size: 14px;
    background-color: var(--primary-color);
    width: 500px;
}