header{
    height: 50px;
    padding: 40px 20px;
    background-color: var(--navbar-footer-color);
}

.logo{
    font-size: 1.5em;
    margin-right: 50px;
}


.nav-link{
    text-transform: uppercase;
}