header {
  height: 50px;
  padding: 40px 20px;
  background-color: var(--navbar-footer-color);
}

.logo {
  font-size: 1.5em;
  margin-right: 50px;
  text-decoration: none;
}

.logo:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.nav-link {
  text-transform: uppercase;
}
