<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 mt-2" *ngFor="let featuredPost of featuredPostsArray">
                <app-post-card [postData]="featuredPost" ></app-post-card>
            </div>
        </div>
    </div>
</section>


<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-4" *ngFor="let latestPost of latestPostsArray">
            <app-post-card [postData] = 'latestPost'></app-post-card>
        </div>
    </div>
</section>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <app-subscription-form></app-subscription-form>
  </div>
</div>