<section>
  <div class="container mt-5 mb-5 p-5 bg-theme shadow-effect">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat
        quae tempore nisi in veniam dignissimos, quisquam expedita fuga eligendi
        officia facilis eaque necessitatibus. Porro, quasi? Placeat, deleniti
        expedita nemo exercitationem maxime hic, ex aperiam cupiditate quis
        delectus explicabo illum quaerat neque repellat beatae dolorem alias!
        Saepe quibusdam praesentium non.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat
        quae tempore nisi in veniam dignissimos, quisquam expedita fuga eligendi
        officia facilis eaque necessitatibus. Porro, quasi? Placeat, deleniti
        expedita nemo exercitationem maxime hic, ex aperiam cupiditate quis
        delectus explicabo illum quaerat neque repellat beatae dolorem alias!
        Saepe quibusdam praesentium non.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod placeat
        quae tempore nisi in veniam dignissimos, quisquam expedita fuga eligendi
        officia facilis eaque necessitatibus. Porro, quasi? Placeat, deleniti
        expedita nemo exercitationem maxime hic, ex aperiam cupiditate quis
        delectus explicabo illum quaerat neque repellat beatae dolorem alias!
        Saepe quibusdam praesentium non.
      </p>

      <div class="text-center">
        <button class="btn-sub mt-4 text-white">Back to Home</button>
      </div>
    </div>
  </div>
</section>


