<div class="container">
  <div class="row">
    <div class="col-md-9  mt-5">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/163811/street-art-shipping-container-freight-highway-163811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="asf"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="text-center design">Design</small>
          <small class="text-center featured ml-2">Featured</small>
          <small class="text-center views ml-2">72,255 - Views </small>
          <small class="update-text ml-2">LAST UPDATED - SEP 20, 2023</small>

          <h1 class="mt-3 mb-3">
            HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            ea? Voluptates placeat voluptas fugit esse laboriosam culpa,
            inventore, magnam asperiores perferendis aliquid dolores beatae amet
            fugiat dolore quisquam eos voluptate doloribus deleniti magni.
            Adipisci quia voluptatibus hic eligendi atque nesciunt nostrum
            minima, autem soluta dolorum laudantium! Consequuntur magnam esse
            libero?<br /><br />

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            ea? Voluptates placeat voluptas fugit esse laboriosam culpa,
            inventore, magnam asperiores perferendis aliquid dolores beatae amet
            fugiat dolore quisquam eos voluptate doloribus deleniti magni.
            Adipisci quia voluptatibus hic eligendi atque nesciunt nostrum
            minima, autem soluta dolorum laudantium! Consequuntur magnam esse
            libero?<br /><br />

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            ea? Voluptates placeat voluptas fugit esse laboriosam culpa,
            inventore, magnam asperiores perferendis aliquid dolores beatae amet
            fugiat dolore quisquam eos voluptate doloribus deleniti magni.
            Adipisci quia voluptatibus hic eligendi atque nesciunt nostrum
            minima, autem soluta dolorum laudantium! Consequuntur magnam esse
            libero?
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>

    </div>

    <div class="col-md-3 post-card-container mt-5">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card> 
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
