footer{
   height: 100px; 
   padding: 15px;
   background-color: var(--navbar-footer-color);
}

.logo{
    font-size: 1.2em;
}

a{
    color: var(--primary-color);
    transition: all .3s ease-in-out;
}

a:hover{
    transform: scale(1.1);
}
