<div class="card">
  <img
    src="https://images.pexels.com/photos/1262302/pexels-photo-1262302.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <div class="mb-3">
      <small class="text-center design">Design</small>
      <small class="text-center ml-2 featured">Featured</small>
    <small class="text-center ml-2 views">72,255 - Views </small>

    </div>

    <h5 class="mt-1">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </h5>
    <small class="update-text">LAST UPDATED - SEP 20, 2023</small>

  </div>
</div>
