<div class="card">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <div class="mb-3 d-flex flex-wrap category-container">
      <small class="text-center design">Design</small>
      <small class="text-center featured">Featured</small>
      <small class="text-center views">72,255 - Views </small>
    </div>

    <h5 class="mt-2">
      Lorem, ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Consectetur sed necessitatibus dolor
      eveniet sint repellat veritatis magnam dicta porro non.
    </h5>
    <small class="update-text">LAST UPDATED - SEP 20, 2023</small>
  </div>
</div>
